# Preprocesamiento del conjunto de datos "Medical Students Dataset"

Podemos establecer las faltas según los requerimientos estructurales y funcionales.

In [453]:
import pandas as pd
import numpy as np

dataset = pd.read_csv('datasets/medical_students_dataset.csv')

print(dataset.iloc[:10])

   Student ID   Age  Gender      Height     Weight Blood Type        BMI  \
0         1.0  18.0  Female  161.777924  72.354947          O  27.645835
1         2.0   NaN    Male  152.069157  47.630941          B        NaN
2         3.0  32.0  Female  182.537664  55.741083          A  16.729017
3         NaN  30.0    Male  182.112867  63.332207          B  19.096042
4         5.0  23.0  Female         NaN  46.234173          O        NaN
5         6.0  32.0     NaN  151.491294  68.647805          B  29.912403
6         7.0  21.0     NaN  172.949704  48.102744         AB  16.081635
7         8.0  28.0    Male  186.489402  52.389752         AB  15.063921
8         9.0  21.0    Male  155.039678  42.958703          B        NaN
9        10.0  32.0     NaN  170.836315  50.783250          B  17.400435

   Temperature  Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0          NaN        95.0           109.0        203.0       No     NaN
1    98.714977        93.0           104.0        163.0       No      No
2    98.260293        76.0           130.0        216.0      Yes      No
3    98.839605        99.0           112.0        141.0       No     Yes
4    98.480008        95.0             NaN        231.0       No      No
5    99.668373        70.0           128.0        183.0      NaN     Yes
6    97.715469        66.0           134.0        247.0       No      No
7    98.227788        85.0           123.0        128.0       No      No
8    98.808053         NaN           111.0        243.0       No      No
9    98.570168        61.0            94.0        166.0      NaN      No

Para el caso de las posibles faltas a los requerimientos estructurales se tiene que la columna BMI contiene dos variables que ya están en el dataset, el pseo y la altura, teniendo la relación por medio de su formula "BMI = peso/(altura)². Así se puede eliminar la columna.

In [454]:
dataset = dataset.drop('BMI', axis=1)

print(dataset)

        Student ID   Age  Gender      Height     Weight Blood Type  \
0              1.0  18.0  Female  161.777924  72.354947          O
1              2.0   NaN    Male  152.069157  47.630941          B
2              3.0  32.0  Female  182.537664  55.741083          A
3              NaN  30.0    Male  182.112867  63.332207          B
4              5.0  23.0  Female         NaN  46.234173          O
...            ...   ...     ...         ...        ...        ...
199995         NaN  24.0    Male  176.503260  95.756997          B
199996     99997.0  29.0  Female  163.917675  45.225194        NaN
199997     99998.0  34.0  Female         NaN  99.648914        NaN
199998     99999.0  30.0  Female  156.446944  50.142824          A
199999    100000.0  20.0  Female  153.927409  99.928405          O

        Temperature  Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0               NaN        95.0           109.0        203.0       No     NaN
1         98.714977        93.0           104.0        163.0       No      No
2         98.260293        76.0           130.0        216.0      Yes      No
3         98.839605        99.0           112.0        141.0       No     Yes
4         98.480008        95.0             NaN        231.0       No      No
...             ...         ...             ...          ...      ...     ...
199995    99.170685        65.0           121.0        130.0       No      No
199996    97.865785        62.0           125.0        198.0       No     Yes
199997    98.768210        60.0            90.0        154.0      NaN      No
199998    98.994212        61.0           106.0        225.0       No      No
199999    98.595817        95.0           133.0        132.0      NaN      No

[200000 rows x 12 columns]

Para el caso de las faltas visibles a los requerimientos funcionales, se tiene que existen muchas observaciones con valores nulos. Teniendo en cuenta la modificación anterior, se procederá a realizar sustituciones de estos valores.

Cabe destacar que existen dos formas obtener el resultado,  y el punto decisivo para esto está en realizar un filtrado de las observaciones que tengan valor nulo en la columna "Student ID" (puesto a que puede considerarse que por no tener una ID, la observación puede ser descartada debido a que es posible que sea errónea o no se deba tomar en cuenta ya que técnicamente ese identificador no existe o es inválido) o se puede hacer una sustitución de la columna "Student ID" también con una ID random mayor a la máxima ID. Este paso puede hacerse al final de todos los pasos previos.

Antes de proceder con esto, es posible aplicar una conversión de las categorías o valores de la columna gender a un dominio de enteros [0, 1] donde "Male" corresponde al valor 0 y "Female" al valor 1, con la intención se hacer los valores independientes del lenguaje, más fiables, manejables y usables. Los mismo se puede aplicar para las columnas "Diabetes" y "Smoking", pero en estos dos casos, el 0 corresponde a "No" y el 1 a "Yes".

Otro problema presente en el dataset son los duplicados, los cuales se procederá a eliminar. Además de esto se tiene un detalle con la representación de algunos números, pues es más útil tener, por ejemplo un decimal a tener 6 o 5. Se pueden redondear lo valores.

In [455]:
dataset['Height'] = dataset['Height'].round(1)
dataset['Weight'] = dataset['Weight'].round(1)
dataset['Temperature'] = dataset['Temperature'].round(1)

dataset.loc[dataset['Gender'] == 'Female', 'Gender'] = 1
dataset.loc[dataset['Gender'] == 'Male', 'Gender'] = 0

dataset.loc[dataset['Diabetes'] == 'Yes', 'Diabetes'] = 1
dataset.loc[dataset['Diabetes'] == 'No', 'Diabetes'] = 0

dataset.loc[dataset['Smoking'] == 'Yes', 'Smoking'] = 1
dataset.loc[dataset['Smoking'] == 'No', 'Smoking'] = 0

print(dataset)

        Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0              1.0  18.0      1   161.8    72.4          O          NaN
1              2.0   NaN      0   152.1    47.6          B         98.7
2              3.0  32.0      1   182.5    55.7          A         98.3
3              NaN  30.0      0   182.1    63.3          B         98.8
4              5.0  23.0      1     NaN    46.2          O         98.5
...            ...   ...    ...     ...     ...        ...          ...
199995         NaN  24.0      0   176.5    95.8          B         99.2
199996     99997.0  29.0      1   163.9    45.2        NaN         97.9
199997     99998.0  34.0      1     NaN    99.6        NaN         98.8
199998     99999.0  30.0      1   156.4    50.1          A         99.0
199999    100000.0  20.0      1   153.9    99.9          O         98.6

        Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0             95.0           109.0        203.0        0     NaN
1             93.0           104.0        163.0        0       0
2             76.0           130.0        216.0        1       0
3             99.0           112.0        141.0        0       1
4             95.0             NaN        231.0        0       0
...            ...             ...          ...      ...     ...
199995        65.0           121.0        130.0        0       0
199996        62.0           125.0        198.0        0       1
199997        60.0            90.0        154.0      NaN       0
199998        61.0           106.0        225.0        0       0
199999        95.0           133.0        132.0      NaN       0

[200000 rows x 12 columns]

In [456]:
filtered_dataset = dataset

age_average = filtered_dataset['Age'].mean()

filtered_dataset.loc[filtered_dataset['Age'].isnull(), 'Age'] = round(age_average)

print(filtered_dataset.iloc[:10])

   Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0         1.0  18.0      1   161.8    72.4          O          NaN
1         2.0  26.0      0   152.1    47.6          B         98.7
2         3.0  32.0      1   182.5    55.7          A         98.3
3         NaN  30.0      0   182.1    63.3          B         98.8
4         5.0  23.0      1     NaN    46.2          O         98.5
5         6.0  32.0    NaN   151.5    68.6          B         99.7
6         7.0  21.0    NaN   172.9    48.1         AB         97.7
7         8.0  28.0      0   186.5    52.4         AB         98.2
8         9.0  21.0      0   155.0    43.0          B         98.8
9        10.0  32.0    NaN   170.8    50.8          B         98.6

   Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0        95.0           109.0        203.0        0     NaN
1        93.0           104.0        163.0        0       0
2        76.0           130.0        216.0        1       0
3        99.0           112.0        141.0        0       1
4        95.0             NaN        231.0        0       0
5        70.0           128.0        183.0      NaN       1
6        66.0           134.0        247.0        0       0
7        85.0           123.0        128.0        0       0
8         NaN           111.0        243.0        0       0
9        61.0            94.0        166.0      NaN       0

In [457]:
most_frequent_gender = filtered_dataset['Gender'].mode()[0] 

filtered_dataset.loc[filtered_dataset['Gender'].isnull(), 'Gender'] = most_frequent_gender

print(filtered_dataset.iloc[:10])

   Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0         1.0  18.0      1   161.8    72.4          O          NaN
1         2.0  26.0      0   152.1    47.6          B         98.7
2         3.0  32.0      1   182.5    55.7          A         98.3
3         NaN  30.0      0   182.1    63.3          B         98.8
4         5.0  23.0      1     NaN    46.2          O         98.5
5         6.0  32.0      0   151.5    68.6          B         99.7
6         7.0  21.0      0   172.9    48.1         AB         97.7
7         8.0  28.0      0   186.5    52.4         AB         98.2
8         9.0  21.0      0   155.0    43.0          B         98.8
9        10.0  32.0      0   170.8    50.8          B         98.6

   Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0        95.0           109.0        203.0        0     NaN
1        93.0           104.0        163.0        0       0
2        76.0           130.0        216.0        1       0
3        99.0           112.0        141.0        0       1
4        95.0             NaN        231.0        0       0
5        70.0           128.0        183.0      NaN       1
6        66.0           134.0        247.0        0       0
7        85.0           123.0        128.0        0       0
8         NaN           111.0        243.0        0       0
9        61.0            94.0        166.0      NaN       0

In [458]:
height_average = filtered_dataset['Height'].mean()

filtered_dataset.loc[filtered_dataset['Height'].isnull(), 'Height'] = round(height_average, 2)

print(filtered_dataset.iloc[:10])

   Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0         1.0  18.0      1  161.80    72.4          O          NaN
1         2.0  26.0      0  152.10    47.6          B         98.7
2         3.0  32.0      1  182.50    55.7          A         98.3
3         NaN  30.0      0  182.10    63.3          B         98.8
4         5.0  23.0      1  174.95    46.2          O         98.5
5         6.0  32.0      0  151.50    68.6          B         99.7
6         7.0  21.0      0  172.90    48.1         AB         97.7
7         8.0  28.0      0  186.50    52.4         AB         98.2
8         9.0  21.0      0  155.00    43.0          B         98.8
9        10.0  32.0      0  170.80    50.8          B         98.6

   Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0        95.0           109.0        203.0        0     NaN
1        93.0           104.0        163.0        0       0
2        76.0           130.0        216.0        1       0
3        99.0           112.0        141.0        0       1
4        95.0             NaN        231.0        0       0
5        70.0           128.0        183.0      NaN       1
6        66.0           134.0        247.0        0       0
7        85.0           123.0        128.0        0       0
8         NaN           111.0        243.0        0       0
9        61.0            94.0        166.0      NaN       0

In [459]:
weight_average = filtered_dataset['Weight'].mean()

filtered_dataset.loc[filtered_dataset['Weight'].isnull(), 'Weight'] = round(weight_average,2)

print(filtered_dataset.iloc[:10])

   Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0         1.0  18.0      1  161.80    72.4          O          NaN
1         2.0  26.0      0  152.10    47.6          B         98.7
2         3.0  32.0      1  182.50    55.7          A         98.3
3         NaN  30.0      0  182.10    63.3          B         98.8
4         5.0  23.0      1  174.95    46.2          O         98.5
5         6.0  32.0      0  151.50    68.6          B         99.7
6         7.0  21.0      0  172.90    48.1         AB         97.7
7         8.0  28.0      0  186.50    52.4         AB         98.2
8         9.0  21.0      0  155.00    43.0          B         98.8
9        10.0  32.0      0  170.80    50.8          B         98.6

   Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0        95.0           109.0        203.0        0     NaN
1        93.0           104.0        163.0        0       0
2        76.0           130.0        216.0        1       0
3        99.0           112.0        141.0        0       1
4        95.0             NaN        231.0        0       0
5        70.0           128.0        183.0      NaN       1
6        66.0           134.0        247.0        0       0
7        85.0           123.0        128.0        0       0
8         NaN           111.0        243.0        0       0
9        61.0            94.0        166.0      NaN       0

In [460]:
most_frequent_blood_type = filtered_dataset['Blood Type'].mode()[0] 

filtered_dataset.loc[filtered_dataset['Blood Type'].isnull(), 'Blood Type'] = most_frequent_blood_type

print(filtered_dataset.iloc[:10])

   Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0         1.0  18.0      1  161.80    72.4          O          NaN
1         2.0  26.0      0  152.10    47.6          B         98.7
2         3.0  32.0      1  182.50    55.7          A         98.3
3         NaN  30.0      0  182.10    63.3          B         98.8
4         5.0  23.0      1  174.95    46.2          O         98.5
5         6.0  32.0      0  151.50    68.6          B         99.7
6         7.0  21.0      0  172.90    48.1         AB         97.7
7         8.0  28.0      0  186.50    52.4         AB         98.2
8         9.0  21.0      0  155.00    43.0          B         98.8
9        10.0  32.0      0  170.80    50.8          B         98.6

   Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0        95.0           109.0        203.0        0     NaN
1        93.0           104.0        163.0        0       0
2        76.0           130.0        216.0        1       0
3        99.0           112.0        141.0        0       1
4        95.0             NaN        231.0        0       0
5        70.0           128.0        183.0      NaN       1
6        66.0           134.0        247.0        0       0
7        85.0           123.0        128.0        0       0
8         NaN           111.0        243.0        0       0
9        61.0            94.0        166.0      NaN       0

In [461]:
temperature_average = filtered_dataset['Temperature'].mean()

filtered_dataset.loc[filtered_dataset['Temperature'].isnull(), 'Temperature'] = round(temperature_average, 2)

print(filtered_dataset.iloc[:10])

   Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0         1.0  18.0      1  161.80    72.4          O         98.6
1         2.0  26.0      0  152.10    47.6          B         98.7
2         3.0  32.0      1  182.50    55.7          A         98.3
3         NaN  30.0      0  182.10    63.3          B         98.8
4         5.0  23.0      1  174.95    46.2          O         98.5
5         6.0  32.0      0  151.50    68.6          B         99.7
6         7.0  21.0      0  172.90    48.1         AB         97.7
7         8.0  28.0      0  186.50    52.4         AB         98.2
8         9.0  21.0      0  155.00    43.0          B         98.8
9        10.0  32.0      0  170.80    50.8          B         98.6

   Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0        95.0           109.0        203.0        0     NaN
1        93.0           104.0        163.0        0       0
2        76.0           130.0        216.0        1       0
3        99.0           112.0        141.0        0       1
4        95.0             NaN        231.0        0       0
5        70.0           128.0        183.0      NaN       1
6        66.0           134.0        247.0        0       0
7        85.0           123.0        128.0        0       0
8         NaN           111.0        243.0        0       0
9        61.0            94.0        166.0      NaN       0

In [462]:
heart_rate_average = filtered_dataset['Heart Rate'].mean()

filtered_dataset.loc[filtered_dataset['Heart Rate'].isnull(), 'Heart Rate'] = round(heart_rate_average)

print(filtered_dataset.iloc[:10])

   Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0         1.0  18.0      1  161.80    72.4          O         98.6
1         2.0  26.0      0  152.10    47.6          B         98.7
2         3.0  32.0      1  182.50    55.7          A         98.3
3         NaN  30.0      0  182.10    63.3          B         98.8
4         5.0  23.0      1  174.95    46.2          O         98.5
5         6.0  32.0      0  151.50    68.6          B         99.7
6         7.0  21.0      0  172.90    48.1         AB         97.7
7         8.0  28.0      0  186.50    52.4         AB         98.2
8         9.0  21.0      0  155.00    43.0          B         98.8
9        10.0  32.0      0  170.80    50.8          B         98.6

   Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0        95.0           109.0        203.0        0     NaN
1        93.0           104.0        163.0        0       0
2        76.0           130.0        216.0        1       0
3        99.0           112.0        141.0        0       1
4        95.0             NaN        231.0        0       0
5        70.0           128.0        183.0      NaN       1
6        66.0           134.0        247.0        0       0
7        85.0           123.0        128.0        0       0
8        80.0           111.0        243.0        0       0
9        61.0            94.0        166.0      NaN       0

In [463]:
blood_pressure_average = filtered_dataset['Blood Pressure'].mean()

filtered_dataset.loc[filtered_dataset['Blood Pressure'].isnull(), 'Blood Pressure'] = round(blood_pressure_average)

print(filtered_dataset.iloc[:10])

   Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0         1.0  18.0      1  161.80    72.4          O         98.6
1         2.0  26.0      0  152.10    47.6          B         98.7
2         3.0  32.0      1  182.50    55.7          A         98.3
3         NaN  30.0      0  182.10    63.3          B         98.8
4         5.0  23.0      1  174.95    46.2          O         98.5
5         6.0  32.0      0  151.50    68.6          B         99.7
6         7.0  21.0      0  172.90    48.1         AB         97.7
7         8.0  28.0      0  186.50    52.4         AB         98.2
8         9.0  21.0      0  155.00    43.0          B         98.8
9        10.0  32.0      0  170.80    50.8          B         98.6

   Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0        95.0           109.0        203.0        0     NaN
1        93.0           104.0        163.0        0       0
2        76.0           130.0        216.0        1       0
3        99.0           112.0        141.0        0       1
4        95.0           115.0        231.0        0       0
5        70.0           128.0        183.0      NaN       1
6        66.0           134.0        247.0        0       0
7        85.0           123.0        128.0        0       0
8        80.0           111.0        243.0        0       0
9        61.0            94.0        166.0      NaN       0

In [464]:
cholesterol_average = filtered_dataset['Cholesterol'].mean()

filtered_dataset.loc[filtered_dataset['Cholesterol'].isnull(), 'Cholesterol'] = round(cholesterol_average)

print(filtered_dataset.iloc[:10])

   Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0         1.0  18.0      1  161.80    72.4          O         98.6
1         2.0  26.0      0  152.10    47.6          B         98.7
2         3.0  32.0      1  182.50    55.7          A         98.3
3         NaN  30.0      0  182.10    63.3          B         98.8
4         5.0  23.0      1  174.95    46.2          O         98.5
5         6.0  32.0      0  151.50    68.6          B         99.7
6         7.0  21.0      0  172.90    48.1         AB         97.7
7         8.0  28.0      0  186.50    52.4         AB         98.2
8         9.0  21.0      0  155.00    43.0          B         98.8
9        10.0  32.0      0  170.80    50.8          B         98.6

   Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0        95.0           109.0        203.0        0     NaN
1        93.0           104.0        163.0        0       0
2        76.0           130.0        216.0        1       0
3        99.0           112.0        141.0        0       1
4        95.0           115.0        231.0        0       0
5        70.0           128.0        183.0      NaN       1
6        66.0           134.0        247.0        0       0
7        85.0           123.0        128.0        0       0
8        80.0           111.0        243.0        0       0
9        61.0            94.0        166.0      NaN       0

In [465]:
most_frequent_diabetes = filtered_dataset['Diabetes'].mode()[0] 

filtered_dataset.loc[filtered_dataset['Diabetes'].isnull(), 'Diabetes'] = most_frequent_diabetes

print(filtered_dataset.iloc[:10])

   Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0         1.0  18.0      1  161.80    72.4          O         98.6
1         2.0  26.0      0  152.10    47.6          B         98.7
2         3.0  32.0      1  182.50    55.7          A         98.3
3         NaN  30.0      0  182.10    63.3          B         98.8
4         5.0  23.0      1  174.95    46.2          O         98.5
5         6.0  32.0      0  151.50    68.6          B         99.7
6         7.0  21.0      0  172.90    48.1         AB         97.7
7         8.0  28.0      0  186.50    52.4         AB         98.2
8         9.0  21.0      0  155.00    43.0          B         98.8
9        10.0  32.0      0  170.80    50.8          B         98.6

   Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0        95.0           109.0        203.0        0     NaN
1        93.0           104.0        163.0        0       0
2        76.0           130.0        216.0        1       0
3        99.0           112.0        141.0        0       1
4        95.0           115.0        231.0        0       0
5        70.0           128.0        183.0        0       1
6        66.0           134.0        247.0        0       0
7        85.0           123.0        128.0        0       0
8        80.0           111.0        243.0        0       0
9        61.0            94.0        166.0        0       0

In [466]:
most_frequent_smoking = filtered_dataset['Smoking'].mode()[0] 

filtered_dataset.loc[filtered_dataset['Smoking'].isnull(), 'Smoking'] = most_frequent_smoking

print(filtered_dataset.iloc[:10])

   Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0         1.0  18.0      1  161.80    72.4          O         98.6
1         2.0  26.0      0  152.10    47.6          B         98.7
2         3.0  32.0      1  182.50    55.7          A         98.3
3         NaN  30.0      0  182.10    63.3          B         98.8
4         5.0  23.0      1  174.95    46.2          O         98.5
5         6.0  32.0      0  151.50    68.6          B         99.7
6         7.0  21.0      0  172.90    48.1         AB         97.7
7         8.0  28.0      0  186.50    52.4         AB         98.2
8         9.0  21.0      0  155.00    43.0          B         98.8
9        10.0  32.0      0  170.80    50.8          B         98.6

   Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0        95.0           109.0        203.0        0       0
1        93.0           104.0        163.0        0       0
2        76.0           130.0        216.0        1       0
3        99.0           112.0        141.0        0       1
4        95.0           115.0        231.0        0       0
5        70.0           128.0        183.0        0       1
6        66.0           134.0        247.0        0       0
7        85.0           123.0        128.0        0       0
8        80.0           111.0        243.0        0       0
9        61.0            94.0        166.0        0       0

### Se procede con la primera opción de la columna "Student ID":

In [467]:
filtered_dataset_no_null_id = filtered_dataset.dropna(subset=['Student ID'])

print(filtered_dataset_no_null_id.iloc[:10])

    Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0          1.0  18.0      1  161.80    72.4          O         98.6
1          2.0  26.0      0  152.10    47.6          B         98.7
2          3.0  32.0      1  182.50    55.7          A         98.3
4          5.0  23.0      1  174.95    46.2          O         98.5
5          6.0  32.0      0  151.50    68.6          B         99.7
6          7.0  21.0      0  172.90    48.1         AB         97.7
7          8.0  28.0      0  186.50    52.4         AB         98.2
8          9.0  21.0      0  155.00    43.0          B         98.8
9         10.0  32.0      0  170.80    50.8          B         98.6
10        11.0  28.0      1  153.00    73.6          B         98.4

    Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0         95.0           109.0        203.0        0       0
1         93.0           104.0        163.0        0       0
2         76.0           130.0        216.0        1       0
4         95.0           115.0        231.0        0       0
5         70.0           128.0        183.0        0       1
6         66.0           134.0        247.0        0       0
7         85.0           123.0        128.0        0       0
8         80.0           111.0        243.0        0       0
9         61.0            94.0        166.0        0       0
10        60.0           115.0        241.0        0       1

Se elimina los duplicados considerando todas las columnas

In [468]:
filtered_dataset_no_null_id = filtered_dataset_no_null_id.drop_duplicates()
print(filtered_dataset_no_null_id)

        Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0              1.0  18.0      1  161.80   72.40          O         98.6
1              2.0  26.0      0  152.10   47.60          B         98.7
2              3.0  32.0      1  182.50   55.70          A         98.3
4              5.0  23.0      1  174.95   46.20          O         98.5
5              6.0  32.0      0  151.50   68.60          B         99.7
...            ...   ...    ...     ...     ...        ...          ...
199994     99995.0  22.0      0  159.50   69.97          A         99.0
199996     99997.0  29.0      1  163.90   45.20          B         97.9
199997     99998.0  34.0      1  174.95   99.60          B         98.8
199998     99999.0  30.0      1  156.40   50.10          A         99.0
199999    100000.0  20.0      1  153.90   99.90          O         98.6

        Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0             95.0           109.0        203.0        0       0
1             93.0           104.0        163.0        0       0
2             76.0           130.0        216.0        1       0
4             95.0           115.0        231.0        0       0
5             70.0           128.0        183.0        0       1
...            ...             ...          ...      ...     ...
199994        86.0           134.0        208.0        0       0
199996        62.0           125.0        198.0        0       1
199997        60.0            90.0        154.0        0       0
199998        61.0           106.0        225.0        0       0
199999        95.0           133.0        132.0        0       0

[164396 rows x 12 columns]

Se procede a guardar el resultado en un archivo como muestra:

In [469]:
filtered_dataset_no_null_id.to_csv('datasets/processed_medical_students_dataset_no_null_ids.csv', index=False)

### Se procede con la segunda opción de la columna "Student ID":

In [470]:
null_id_values = filtered_dataset['Student ID'].isna()

max_id = filtered_dataset['Student ID'].max()

id_value_range = np.arange(max_id+1, max_id+null_id_values.sum()+1)

random_id_values = np.random.choice(id_value_range, size=null_id_values.sum(), replace=False)

filtered_dataset.loc[null_id_values, 'Student ID'] = random_id_values

print(filtered_dataset.iloc[:10])

   Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0         1.0  18.0      1  161.80    72.4          O         98.6
1         2.0  26.0      0  152.10    47.6          B         98.7
2         3.0  32.0      1  182.50    55.7          A         98.3
3    108360.0  30.0      0  182.10    63.3          B         98.8
4         5.0  23.0      1  174.95    46.2          O         98.5
5         6.0  32.0      0  151.50    68.6          B         99.7
6         7.0  21.0      0  172.90    48.1         AB         97.7
7         8.0  28.0      0  186.50    52.4         AB         98.2
8         9.0  21.0      0  155.00    43.0          B         98.8
9        10.0  32.0      0  170.80    50.8          B         98.6

   Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0        95.0           109.0        203.0        0       0
1        93.0           104.0        163.0        0       0
2        76.0           130.0        216.0        1       0
3        99.0           112.0        141.0        0       1
4        95.0           115.0        231.0        0       0
5        70.0           128.0        183.0        0       1
6        66.0           134.0        247.0        0       0
7        85.0           123.0        128.0        0       0
8        80.0           111.0        243.0        0       0
9        61.0            94.0        166.0        0       0

In [471]:
filtered_dataset = filtered_dataset.drop_duplicates()
print(filtered_dataset)

        Student ID   Age Gender  Height  Weight Blood Type  Temperature  \
0              1.0  18.0      1  161.80    72.4          O         98.6
1              2.0  26.0      0  152.10    47.6          B         98.7
2              3.0  32.0      1  182.50    55.7          A         98.3
3         108360.0  30.0      0  182.10    63.3          B         98.8
4              5.0  23.0      1  174.95    46.2          O         98.5
...            ...   ...    ...     ...     ...        ...          ...
199995    119487.0  24.0      0  176.50    95.8          B         99.2
199996     99997.0  29.0      1  163.90    45.2          B         97.9
199997     99998.0  34.0      1  174.95    99.6          B         98.8
199998     99999.0  30.0      1  156.40    50.1          A         99.0
199999    100000.0  20.0      1  153.90    99.9          O         98.6

        Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0             95.0           109.0        203.0        0       0
1             93.0           104.0        163.0        0       0
2             76.0           130.0        216.0        1       0
3             99.0           112.0        141.0        0       1
4             95.0           115.0        231.0        0       0
...            ...             ...          ...      ...     ...
199995        65.0           121.0        130.0        0       0
199996        62.0           125.0        198.0        0       1
199997        60.0            90.0        154.0        0       0
199998        61.0           106.0        225.0        0       0
199999        95.0           133.0        132.0        0       0

[184396 rows x 12 columns]

Finalmente se procede a guardar el resultado el preproceso en un archivo para csv como muestra:

In [472]:
filtered_dataset.to_csv('datasets/processed_medical_students_dataset.csv', index=False)